
ZHIPU_BASE_URL="https://open.bigmodel.cn/api/paas/v4/"
ZHIPU_API_KEY="智普的API key"


QWEN3_API_KEY="qwen的API key"
QWEN3_BASE_URL="https://llm-4lpbjav6f41ue2ut.cn-beijing.maas.aliyuncs.com/compatible-mode/v1"

# 机器人配置查看README.md文档
APP_ID="飞书的机器人ID"
APP_SECRET="飞书的机器人Secret"
YOUR_EMAIL="飞书的对应的邮箱（可选）"
DOC_TOKEN="飞书的文档token（可选）"
YOUR_PHONE="飞书的对应的手机号（可选）"
YOUR_OPEN_ID="飞书的对应的openID（可选）"
